body {
  background: #181f2a;
  font-family: "Open Sans";
  font-size: 14px;
  margin: 0;
  color: white;
  height: 200em;
}

.Btn {
  padding: 10px 40px;
  border-radius: 50px;
  background: #65e2d9;
  border: #65e2d9;
  color: white;
}
.Btn:hover {
  color: #339ecc;
}

header {
  background: #1c2431;
}

#showcaseBgCurvy {
  background-image: url("../images/bg-curvy-desktop.svg");
  background-size: cover;
  width: 100vw;
  height: 30em;
  position: relative;
  bottom: 30em;
  z-index: 1;
}

nav {
  display: flex;
  margin: 0 1em 1em 1em;
  padding: 1em;
}
nav .navChild {
  flex: 4;
}
nav .navbar {
  flex: 1;
  padding: 1em;
  margin: auto 2em;
}
nav .navbar .navbarContent .navbarNav {
  display: flex !important;
  justify-content: space-between;
  list-style: none;
  display: inline;
}
nav .navbar .navbarContent .navbarNav a:hover {
  color: #65e2d9;
  cursor: pointer;
}

.showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 20em 0em 20em;
  z-index: 2;
  padding: 5em;
}
.showcase .showcaseImg {
  display: flex;
  justify-content: center;
}
.showcase .showcaseContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
  margin: 0 5em;
  text-align: center;
}

.mainContent {
  position: relative;
  bottom: 30em;
  background: #181f2a;
  margin: auto;
  padding: 2em 5em;
}

#cards {
  display: flex;
  justify-content: space-evenly;
}
#cards .cardHolder {
  width: 35%;
}
#cards .cardHolder .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5em;
}

#productivity {
  display: flex;
  align-items: center;
  margin: 2.5em 5em;
  padding: 2.5em;
}
#productivity .productivityContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  margin: 0 5em;
}
#productivity .productivityContent h2 {
  font-size: 30px;
  text-align: center;
  width: 100%;
}
#productivity .productivityContent a {
  color: #65e2d9;
}

#reviewSection {
  background: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
}
#reviewSection .reviewCards {
  display: flex;
  margin: 0;
  padding: 2.5em 0.75em;
}
#reviewSection .reviewCards .reviewCard {
  background: #202a3c;
  padding: 2.5em;
  margin: 0 1em;
}
#reviewSection .reviewCards .reviewCard .reviewContent p {
  font-weight: 400;
}
#reviewSection .reviewCards .reviewCard .reviewPerson {
  display: flex;
}
#reviewSection .reviewCards .reviewCard .reviewPerson img {
  border-radius: 50%;
  width: 50px;
  margin: 10px;
}
#reviewSection .reviewCards .reviewCard .reviewPerson div p:nth-child(1) {
  font-weight: 700;
}
#reviewSection .reviewCards .reviewCard .reviewPerson div p:nth-child(2) {
  font-weight: 400;
  font-size: 10px;
}

#contactCard {
  margin: 5em auto;
  padding: 2.5em 5em;
  width: 40%;
  background: #1c2431;
  position: relative;
  top: 10em;
  z-index: 1;
}
#contactCard .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#contactCard .contact h2 {
  font-size: 30px;
}
#contactCard .contact div input {
  border-radius: 50px;
  width: 25em;
  height: 2em;
}

footer {
  height: 40em;
  background: #0b1523;
  position: relative;
  bottom: 35em;
  z-index: 0;
}

.footerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em 2.5em;
  height: inherit;
}
.footerContent .footerLogo {
  flex: 1;
}
.footerContent .footerLogo .footerLogoContent {
  display: inline;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.footerContent .footerLogo .footerLogoContent div {
  display: flex;
  justify-content: flex-start;
}
.footerContent .footerLogo .footerLogoContent div img {
  height: 10px;
  position: relative;
  top: 25px;
  left: 120px;
}
.footerContent .footerLogo .footerLogoContent div div {
  width: 40%;
  margin: 10px;
  position: relative;
  left: 120px;
}
.footerContent .footerLogo .footerLogoContent div div p {
  text-align: left;
}
.footerContent .footerContact {
  flex: 1;
}
.footerContent .footerContact .footerContactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerContent .footerContact .footerContactContent .contactPhone {
  display: flex;
}
.footerContent .footerContact .footerContactContent .contactPhone img {
  margin: 10px;
  height: 20px;
}
.footerContent .footerContact .footerContactContent .contactEmail {
  display: flex;
}
.footerContent .footerContact .footerContactContent .contactEmail img {
  margin: 10px;
  height: 20px;
}
.footerContent .footerNav {
  flex: 1;
  height: inherit;
}
.footerContent .footerNav .footerNavbarContent {
  display: flex;
  justify-content: space-around;
  height: inherit;
}
.footerContent .footerNav .footerNavbarContent .navbarInnerContent {
  height: inherit;
}
.footerContent .footerNav .footerNavbarContent .navbarInnerContent .footerNavbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  position: relative;
  top: 180px;
}
.footerContent .footerNav .footerNavbarContent .navbarInnerContent .footerNavbar a {
  color: white;
  text-decoration: none;
}
.footerContent .footerNav .footerNavbarContent .navbarInnerContent .footerNavbar a:hover {
  color: #65e2d9;
}
.footerContent .footerSocial {
  flex: 1;
}
.footerContent .footerSocial .footerSocialInner {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.footerContent .footerSocial .footerSocialInner i {
  color: white;
}
.footerContent .footerSocial .footerSocialInner i:hover {
  color: #65e2d9;
}

.attributionSection {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: relative;
  bottom: 35em;
}
.attributionSection a {
  color: white;
}
.attributionSection a:hover {
  color: #65e2d9;
}

@media only screen and (max-width: 500px) {
  #showcaseBgCurvy {
    background-image: url("../images/bg-curvy-mobile.svg");
    height: 15em;
    bottom: 20em;
  }

  .mainContent {
    bottom: 20em;
    padding: 5em 5em;
  }

  nav .navChild {
    flex: 1;
  }
  nav .navbar {
    padding: 1em 0;
  }
  nav .navbar .navbarContent .navbarNav {
    justify-content: space-evenly;
  }

  .showcase {
    margin: 0 5em 0em 5em;
    padding: 0;
  }
  .showcase .showcaseImg {
    display: flex;
    justify-content: center;
  }
  .showcase .showcaseImg img {
    width: 20em;
  }
  .showcase .showcaseContent {
    padding: 0;
    margin: 0 5em;
  }

  #cards {
    display: block;
    width: 100%;
    margin: auto;
  }
  #cards .cardHolder {
    width: 100%;
  }

  #productivity {
    display: block;
    margin: 1em 2.5em;
    padding: 1em;
  }
  #productivity .productivityImg img {
    width: 20em;
  }
  #productivity .productivityContent {
    width: 100%;
    margin: 0 2.5em;
  }

  #reviewSection .reviewCards {
    display: block;
    margin: 0.5em 1.25em;
    padding: 1em 0;
  }
  #reviewSection .reviewCards .reviewCard {
    padding: 2.5em;
    margin: 1em 1em;
  }

  #contactCard {
    width: 70%;
  }
  #contactCard .contact div input {
    width: 15em;
  }

  footer {
    height: 55em;
    padding-top: 5em;
    bottom: 25em;
  }

  .footerContent {
    display: block;
    height: inherit;
  }
  .footerContent .footerLogo {
    flex: 1;
  }
  .footerContent .footerLogo .footerLogoContent {
    display: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .footerContent .footerLogo .footerLogoContent div {
    display: flex;
    justify-content: flex-start;
  }
  .footerContent .footerLogo .footerLogoContent div img {
    height: 10px;
    position: relative;
    top: 25px;
    left: 120px;
  }
  .footerContent .footerLogo .footerLogoContent div div {
    width: 40%;
    margin: 10px;
    position: relative;
    left: 120px;
  }
  .footerContent .footerLogo .footerLogoContent div div p {
    text-align: left;
  }
  .footerContent .footerContact {
    flex: 1;
  }
  .footerContent .footerContact .footerContactContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerContent .footerContact .footerContactContent .contactPhone {
    display: flex;
  }
  .footerContent .footerContact .footerContactContent .contactPhone img {
    margin: 10px;
    height: 20px;
  }
  .footerContent .footerContact .footerContactContent .contactEmail {
    display: flex;
  }
  .footerContent .footerContact .footerContactContent .contactEmail img {
    margin: 10px;
    height: 20px;
  }
  .footerContent .footerNav {
    flex: 1;
    height: 50%;
  }
  .footerContent .footerNav .footerNavbarContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
    width: 25%;
    margin: auto;
  }
  .footerContent .footerNav .footerNavbarContent .navbarInnerContent .footerNavbar {
    height: 30%;
    top: 20px;
  }
  .footerContent .footerSocial {
    flex: 1;
  }
  .footerContent .footerSocial .footerSocialInner {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footerContent .footerSocial .footerSocialInner i {
    margin: 0 10px;
  }

  .attributionSection {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    bottom: 25em;
  }
  .attributionSection a {
    color: white;
  }
  .attributionSection a:hover {
    color: #65e2d9;
  }
}

/*# sourceMappingURL=styles.css.map */
